<!DOCTYPE html>
<html>
<head>
  <title>Devcon</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="devcon">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><%= link_to "Devcon", "/" %></h3>
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
